@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT-Lakes Condensed Regular";
  src: url("../public/fonts/TT-Lakes-Condensed-Regular.woff2");
}

@font-face {
  font-family: "Teko";
  src: url("./pages/apex-legends/font/Teko-Regular.ttf");
}
