@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT-Lakes Condensed Regular";
  src: url("../public/fonts/TT-Lakes-Condensed-Regular.woff2");
}

@font-face {
  font-family: "Teko";
  src: url("./pages/apex-legends/font/Teko-Regular.ttf");
}

@font-face {
  font-family: "baskerville";
  src: url("./pages/lost-in-random/font/Baskerville.otf");
}

input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: #cdcdcd;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(73, 73, 73, 0.702);
}
